h1 {
  text-align: center;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: gray;
  color: white;
  text-align: center;
}
ul.a {
  background-color: firebrick;
  color: black;
}
li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
body {
  color:black ;
  background-color: firebrick;
}

h2 {
  color: black;}
div.gallery {
    margin: 5px;
    border: 1px solid black;
    float: left;
    width: 180px;
  }
  
  div.gallery:hover {
    border: 1px solid black;
  }
  
  div.gallery img {
    width: 100%;
    height: auto;
  }
  
  div.desc {
    padding: 15px;
    text-align: center;
  }
p {
  background-color: firebrick;
  color: black;
  text-align: center;
  font-weight: bold;
}
img.gal_mapa
{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
